


<div class="well">
    <form method="post" action="/home/add">
        <br/>
        <input type="text" class="form-control" name="title" placeholder="Image Title"/>
        <br/>
        <textarea rows="5" name="url" placeholder="Image URL" class="form-control"></textarea>
        <br/>
        <button class="btn btn-success">Add</button>
        <br/>
    </form>
</div>
